Repository jlevy/simple-modern-pnpm: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-02-18T06-45-43 (17 files)
  .tbd/data-sync/issues/is-01khkvfvb7bc3sh3d8kjnxvrgw.md
  .tbd/data-sync/issues/is-01khkvfzrez74cdksbbsmp0y2j.md
  .tbd/data-sync/issues/is-01khkvg7bzs7stedw5k4myhfab.md
  .tbd/data-sync/issues/is-01khkvg7gdyjf2ymfrr6szndz9.md
  .tbd/data-sync/issues/is-01khkvg7mnhrwmfpymymq0ab68.md
  .tbd/data-sync/issues/is-01khkvg7ry3z45pzqmppmbebkd.md
  .tbd/data-sync/issues/is-01khkvg7x1kempzq37xmhhcswk.md
  .tbd/data-sync/issues/is-01khkvg815tjw78fbpbyp34n83.md
  .tbd/data-sync/issues/is-01khkvg8579vt905z7kfhmccjt.md
  .tbd/data-sync/issues/is-01khqqna7ggthedjq97c7042mk.md
  .tbd/data-sync/issues/is-01khqqnb18kafft8bt1yqd3rwf.md
  .tbd/data-sync/issues/is-01khqqnbvhtmxbfthe5pj0f5za.md
  .tbd/data-sync/issues/is-01khqqncmcvwycz1dar8f15zvc.md
  .tbd/data-sync/issues/is-01khqqndj7x2fjtnts0we25mm0.md
  .tbd/data-sync/issues/is-01khqqneve3m27j5rbmeefzypp.md
  .tbd/data-sync/issues/is-01khqqng40wmgxvxasv8w9y73f.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: reconcile with pnpm-monorepo-patterns guideline
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .nvmrc
  docs/development.md
  lefthook.yml
  package.json
  packages/placeholder-package/package.json
  packages/placeholder-package/tsdown.config.ts
  template/.github/workflows/ci.yml.jinja
  template/.github/workflows/release.yml
  template/.nvmrc
  template/docs/development.md
  template/lefthook.yml
  template/package.json.jinja
  template/packages/{{ package_name }}/package.json.jinja
  template/packages/{{ package_name }}/tsdown.config.ts
Due: format, format-md, lint, typecheck

chore: update lockfile for @types/node 24
  pnpm-lock.yaml
Due: format

fix: resolve Jinja template syntax conflicts with GitHub Actions
  .github/workflows/ci.yml
  README.md
  admin/compile_template.py
  copier.yml
  template/.github/workflows/ci.yml.jinja
  template/README.md.jinja
  template/[[ _copier_conf.answers_file ]].jinja
  template/package.json.jinja
  template/packages/[[ package_name ]]/package.json.jinja
  template/packages/[[ package_name ]]/src/index.ts.jinja
  template/packages/[[ package_name ]]/tests/index.test.ts
  template/packages/[[ package_name ]]/tsconfig.json
  template/packages/[[ package_name ]]/tsdown.config.ts
  template/packages/[[ package_name ]]/vitest.config.ts
  template/tsconfig.json.jinja
Due: format, format-md, lint, typecheck

fix: remove manual copier answers file generation
  admin/compile_template.py
  copier.yml
  template/[[ _copier_conf.answers_file ]].jinja
Due: format

fix: add copier answers file template for update support
  .gitignore
  README.md
  template/[[ _copier_conf.answers_file ]].jinja
Due: format-md

docs: add non-interactive copier workflow for agents
  README.md
Due: format-md

chore: clarify copier workflows and harden template validation
  .github/workflows/ci.yml
  README.md
  admin/admin-readme.md
  admin/compile_template.py
  admin/docs/project/specs/active/plan-2026-03-09-agent-friendly-template-workflows.md
  admin/smoke_test_template.py
  admin/updating.md
  docs/development.md
  docs/publishing.md
  eslint.config.js
  lefthook.yml
  package.json
  scripts/prepare-hooks.mjs
  template/.github/workflows/ci.yml.jinja
  template/.gitignore.jinja
  template/LICENSE
  template/README.md.jinja
  template/docs/development.md
  template/docs/publishing.md.jinja
  template/eslint.config.js.jinja
  template/lefthook.yml.jinja
  template/package.json.jinja
  template/scripts/prepare-hooks.mjs
Due: format, format-md, lint

chore: prepare template v0.1.0 release
  .claude/settings.json
  .github/workflows/release.yml
  admin/admin-readme.md
  admin/releases/v0.1.0.md
  admin/releasing.md
  admin/updating.md
  template/.github/workflows/release.yml.jinja
  template/docs/development.md
Due: format, format-md

tbd sync: 2026-03-09T17-45-47 (15 files)
  .tbd/data-sync/issues/is-01khhyppje40hpy2wt82hw5cng.md
  .tbd/data-sync/issues/is-01khj0ndw8jjzfrdpa8rvfx148.md
  .tbd/data-sync/issues/is-01khj0ner7x32we7xm4xara2w4.md
  .tbd/data-sync/issues/is-01khj0ngq42ej7wedan333bw6z.md
  .tbd/data-sync/issues/is-01khj0nmtmfjdyvkqam0kh1p9g.md
  .tbd/data-sync/issues/is-01khj1j9c1sje9yb75kkfd8xvp.md
  .tbd/data-sync/issues/is-01kk9rbtf4k9exrckxhkfdyz37.md
  .tbd/data-sync/issues/is-01kk9rc0tasmn3eb18sdhznns0.md
  .tbd/data-sync/issues/is-01kk9rc0tbwb3reatqk1wzzjpp.md
  .tbd/data-sync/issues/is-01kk9rc0vpjpqv9y3jcr8a24az.md
  .tbd/data-sync/issues/is-01kk9rc0vrk9amc1q7w5wqp6wh.md
  .tbd/data-sync/issues/is-01kk9sj531zkvvvvjc6dtyr8kt.md
  .tbd/data-sync/issues/is-01kk9svpqypthdwy6zw5dh9cyq.md
  .tbd/data-sync/issues/is-01kk9trehx1q4c3xknr5e3wycw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

ci: install uv in smoke workflow and refresh action tags
  .github/workflows/ci.yml
  .github/workflows/release.yml
  template/.github/workflows/ci.yml.jinja
  template/.github/workflows/release.yml.jinja
Due: format

chore: upgrade template dependencies
  admin/releases/v0.1.1.md
  package.json
  packages/placeholder-package/package.json
  pnpm-lock.yaml
  template/package.json.jinja
  template/packages/[[ package_name ]]/package.json.jinja
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md, but not: CLAUDE.md, AGENTS.md, template/**
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
